Source: haskell-happstack-search
Priority: extra
Section: haskell
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.8),
               cdbs,
               ghc,
               ghc-prof,
               libghc-hsp-dev,
               libghc-hsp-prof,
               libghc-mtl-dev,
               libghc-mtl-prof,
               libghc-stm-dev,
               libghc-stm-prof,
               libghc-text-dev,
               libghc-text-prof,
               libghc-web-routes-dev,
               libghc-web-routes-prof
Build-Depends-Indep: ghc-doc,
                     libghc-hsp-doc,
                     libghc-mtl-doc,
                     libghc-stm-doc,
                     libghc-text-doc,
                     libghc-web-routes-doc
Standards-Version: 3.9.1
Homepage: http://hackage.haskell.org/package/happstack-search

Package: libghc-happstack-search-dev
Architecture: any
Depends: ${shlibs:Depends},
         ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Support for running a search indexer in a thread.
 .
 This package contains the normal library files.

Package: libghc-happstack-search-prof
Architecture: any
Depends: ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Support for running a search indexer in a thread.
 .
 This package contains the libraries compiled with profiling enabled.

Package: libghc-happstack-search-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Support for running a search indexer in a thread.
 .
 This package contains the documentation files.
